h2{
    background-color: bisque;
    font-size: larger;
    border: 5px solid;
    border-color: black;
}
div{
    background-color: aqua;
    margin:5px solid;
}
p{
    margin:10px;
    border:5px solid black;
}